{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

<div class="container">
    <div class="card mb-3" style="max-width: 540px; margin-top: 60px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ asset('uploads/images/' ~ product.image) }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.price }} лв.</p>
                    <a href="" class="btn btn-outline-success">Добави в количката</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for product in products %}
            <div class="col-md-3 mt-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('uploads/images/' ~ product.image) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a style="text-decoration: none; color: black;" href="{{ path('app_home_product_show', {'id': product.id}) }}">
                            <h5 class="card-title">{{ product.name }}</h5>
                        </a>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">{{ product.price }} лв.</p>
                        <a href="#" class="btn btn-outline-success">Добави в количката</a>
                    </div>
                </div>
            </div>
        {% endfor %}    
    </div>

</div>
{% endblock %}