{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container login-form">
            <h1>Register</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form form-control', 'placeholder': 'Email'}}) }}
            {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form form-control', 'placeholder': 'First Name'}}) }}
            {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form form-control', 'placeholder': 'Last Name'}}) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                'attr': {'class': 'form form-control', 'placeholder': 'Password'}
            }) }}
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form form-check-input'}}) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
