{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="my-4">Categories</h1>

                {% include 'layouts/_flash_message.html.twig' %}

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td>{{ category.id }}</td>
                                    <td>{{ category.name }}</td>
                                    <td>
                                        <a class="btn btn-outline-primary" href="{{ path('app_category_update', {'id': category.id}) }}">Modify</a>
                                        <a onclick="return confirm('Do you want to delete this category?')" class="btn btn-danger" href="{{ path('app_category_delete', {'id': category.id}) }}">Delete</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">No categories found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a href="{{ path('app_category_new') }}" class="btn btn-success">Add Category</a>
    </div>
{% endblock %}
